{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <p>  {{ content }} </p>
                <div class="col-sm-6 col-12">
                      <img  src="{%  static 'img/q.png' %}" style="width:500px" class="img-fluid" />

                      <form action="." method="POST">
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-info pull-right" >
                      </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}